# You can use it to add commands that run after login to macOS user session.
after-login-command = []
# You can use it to add commands that run after AeroSpace startup.
after-startup-command = []

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 0

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
default-root-container-orientation = 'auto'

# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
key-mapping.preset = 'colemak'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See: https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
inner.horizontal = 6
inner.vertical =   6
outer.left =       6
outer.bottom =     6
outer.top =        6
outer.right =      6

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
[mode.main.binding]

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands

# See: https://nikitabobko.github.io/AeroSpace/commands#layout
alt-v = 'layout tiles horizontal vertical'
alt-s = 'layout accordion horizontal vertical'

# See: https://nikitabobko.github.io/AeroSpace/commands#focus
alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

# See: https://nikitabobko.github.io/AeroSpace/commands#move
alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

# See: https://nikitabobko.github.io/AeroSpace/commands#resize
alt-comma = 'resize smart -50'
alt-period = 'resize smart +50'

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace
# generic 1
ctrl-1 = 'workspace 1'
# web
ctrl-2 = 'workspace 2'
# editor (word etc)
ctrl-3 = 'workspace 3'
# development (IDE)
ctrl-4 = 'workspace 4'
# calendar
ctrl-5 = 'workspace 5'
# music/video player
ctrl-0 = 'workspace 10'
# terminal
ctrl-t = 'workspace t'
# ai
ctrl-q = 'workspace q'

alt-e = ['flatten-workspace-tree', 'mode main'] # reset layout

# See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
ctrl-alt-1 = ['move-node-to-workspace 1', 'workspace 1']
ctrl-alt-2 = ['move-node-to-workspace 2', 'workspace 2']
ctrl-alt-3 = ['move-node-to-workspace 3', 'workspace 3']
ctrl-alt-4 = ['move-node-to-workspace 4', 'workspace 4']
ctrl-alt-5 = ['move-node-to-workspace 5', 'workspace 5']
ctrl-alt-0 = ['move-node-to-workspace 10', 'workspace 10']
ctrl-alt-t = ['move-node-to-workspace t', 'workspace t']
ctrl-alt-q = ['move-node-to-workspace q', 'workspace q']

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
alt-tab = 'workspace-back-and-forth'
# See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
# alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

alt-m = 'join-with left'


# applications
## terminal
alt-t = 'exec-and-forget open -a Ghostty'

## Finder
# alt-n = 'exec-and-forget open -a Finder'

## Safari
alt-b = 'exec-and-forget open -a Safari'

# Disable annoying and useless "hide application" shortcut
cmd-h = [] # Disable "hide application"
cmd-alt-h = [] # Disable "hide others"

# See: https://nikitabobko.github.io/AeroSpace/commands#mod
alt-shift-s = 'mode service'
# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
r = ['reload-config', 'mode main']
#s = ['layout sticky tiling', 'mode main'] # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
backspace = ['close-all-windows-but-current', 'mode main']

alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

# assigning workspaces to monitors
[workspace-to-monitor-force-assignment]
1 = 'dell'
2 = 'dell'
3 = 'dell'
4 = 'dell'
5 = 'built-in'
10 = 'built-in'
t = 'built-in'
q = 'built-in'

# assigning apps to workspaces
# 2 - web
[[on-window-detected]]
if.app-id = 'com.apple.Safari'
run = 'move-node-to-workspace 2'

# 3 - editor
[[on-window-detected]]
if.app-id = 'com.microsoft.Word'
run = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'com.microsoft.Powerpoint'
run = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'com.microsoft.Excel'
run = 'move-node-to-workspace 3'

# [[on-window-detected]]
# if.app-id = 'org.qgis.qgis3'
# run = 'move-node-to-workspace 3'

# 4 - development/IDE
[[on-window-detected]]
if.app-id = 'com.microsoft.VSCode'
run = 'move-node-to-workspace 4'

# 5 - calendar
[[on-window-detected]]
if.app-id = 'com.apple.iCal'
run = 'move-node-to-workspace 5'

[[on-window-detected]]
if.app-id = 'com.apple.reminders'
run = 'move-node-to-workspace 5'

# 10 - music/video player
[[on-window-detected]]
if.app-id = 'com.apple.Music'
run = 'move-node-to-workspace 10'

# t - terminal
# disabled to use ghostty quick terminal

# q - ai
[[on-window-detected]]
if.app-id = 'ai.perplexity.mac'
run = 'move-node-to-workspace q'

# for stata graph window
[[on-window-detected]]
if.app-id = 'com.stata.stata18'
if.window-title-regex-substring = 'graph'
run = 'layout floating'

# for music miniplayer
[[on-window-detected]]
if.app-id = 'com.apple.Music'
if.window-title-regex-substring = 'miniplayer'
run = 'layout floating'
